{% extends "shibuyamenapp/base.html" %}

{% block title %}パスワードリセット完了{% endblock %}

{% block content %}
<h1>パスワードがリセットされました</h1>
<p>新しいパスワードでログインしてください。</p>
<a href="{% url 'account_login' %}">ログイン画面へ</a>
{% endblock %}


{% comment %} <!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>パスワードリセット完了</title>
</head>
<body>
    <h1>パスワードがリセットされました</h1>
    <p>新しいパスワードでログインしてください。</p>
    <a href="{% url 'account_login' %}">ログイン画面へ</a>
</body>
</html> {% endcomment %}
