{% extends "shibuyamenapp/base.html" %}

{% block title %}パスワードリセット リンク送信{% endblock %}

{% block content %}
<h1>パスワードリセットリンクが送信されました</h1>
<p>ご指定のメールアドレスにパスワードリセットリンクを送信しました。</p>
<a href="{% url 'ramen_map' %}">ホームに戻る</a>
{% endblock %}

{% comment %} <!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>パスワードリセット リンク送信</title>
</head>
<body>
    <h1>パスワードリセットリンクが送信されました</h1>
    <p>ご指定のメールアドレスにパスワードリセットリンクを送信しました。</p>
    <a href="{% url 'ramen_map' %}">ホームに戻る</a>
</body>
</html> {% endcomment %}

