{% extends "shibuyamenapp/base.html" %}

{% block title %}新しいパスワードを設定{% endblock %}

{% block content %}
<h1>新しいパスワードを設定する</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">パスワードをリセット</button>
</form>
{% endblock %}

{% comment %} <!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新しいパスワードを設定</title>
</head>
<body>
    <h1>新しいパスワードを設定する</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">パスワードをリセット</button>
    </form>
</body>
</html> {% endcomment %}

